.slider{
    &__item{
      position: relative;
      width: 300px;
      height:450px;
      margin: 0 8px;
    }
    &__item-mask{
        position: absolute;
        background-color: c('white');
        &--laterals{
            top: 0;
            width: 16px;
            height: 100%;
        }
        &--verticals{
            width: 100%;
            height: 16px;
        }
        &--left{
            left: -1px;
        }
        &--right{
            right: -1px;
        }
        &--top{
            top: -1px;
        }
        &--bottom{
            bottom: -1px;
        }
    }
}