.slider{
  display: flex;
  position: absolute;
  touch-action: none;
  user-select: none;
  &__item{
    width: 270px;
    margin: 0 8px;
    &--top{
      transform: translateY(-100vh);
    }
    &--bottom {
      transform: translateY(100vh);
    }
    a{
      display: block;
    }
  }
}
.outter-slider{
  position: relative;
  display: flex;
  justify-content: center;
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
