@media only screen and (min-width: 2560px) {
    .grid{
        width: 3144px;
        height: 6018px;
        grid-template-columns: repeat(5, 600px);
        &__item{
            width:600px;
            height: 900px;
        }
    }
    .outter-grid{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3444px;
        height: 8227px;
        top: calc((100vh - 8227px)/2);
        left: calc((100vw - 3444px)/2);
    }
}