// 100 - Thin
// 200 - Extra Light (Ultra Light)
// 300 - Light (Book)
// 400 - Normal
// 500 - Medium
// 600 - Semi Bold (Demi Bold)
// 700 - Bold
// 800 - Extra Bold (Ultra Bold)
// 900 - Black (Heavy)
@charset "UTF-8";

$fonts: (
  'Velodrama': "'Velodrama', Helvetica, Arial, Sans-Serif",
  'Museo': "'MuseoSans'"
);

//Mixins de Google Fonts basadas en array $fonts.
//Ex: @include font('raleway','bold');
@mixin font($fontkey, $type: 'regular') {
  @if map-has-key($fonts, $fontkey) {
    $font: map-get($fonts, $fontkey);

    font-family: #{$font};

    @if $type == heavy {
      font-weight: 900;
    } @else if $type == bold {
      font-weight: 700;
    } @else if $type == medium {
      font-weight: 500;
    } @else if $type == light {
      font-weight: 300;
    } @else {
      font-weight: 400;
    }
  } @else {
    @warn "Unknown `#{$fontkey}` in $fonts.";
  }
}

@font-face {
  font-family: 'Velodrama';
  src: url('../fonts/Velodroma-basic/velodroma-basic.eot');
  src: url('../fonts/Velodroma-basic/velodroma-basic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Velodroma-basic/velodroma-basic.woff2') format('woff2'),
    url('../fonts/Velodroma-basic/velodroma-basic.woff') format('woff'),
    url('../fonts/Velodroma-basic/velodroma-basic.ttf') format('truetype'),
    url('../fonts/Velodroma-basic/velodroma-basic.svg#droidserif') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Velodrama';
  src: url('../fonts/Velodroma-Regular/Velodroma-Regular.eot');
  src: url('../fonts/Velodroma-Regular/Velodroma-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Velodroma-Regular/Velodroma-Regular.woff2') format('woff2'),
    url('../fonts/Velodroma-Regular/Velodroma-Regular.woff') format('woff'),
    url('../fonts/Velodroma-Regular/Velodroma-Regular.ttf') format('truetype'),
    url('../fonts/Velodroma-Regular/Velodroma-Regular.svg#droidserif') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Velodrama';
  src: url('../fonts/Velodroma-basic-superwide/velodroma-basic-superwide.eot');
  src: url('../fonts/Velodroma-basic-superwide/velodroma-basic-superwide.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Velodroma-basic-superwide/velodroma-basic-superwide.woff2') format('woff2'),
    url('../fonts/Velodroma-basic-superwide/velodroma-basic-superwide.woff') format('woff'),
    url('../fonts/Velodroma-basic-superwide/velodroma-basic-superwide.ttf') format('truetype'),
    url('../fonts/Velodroma-basic-superwide/velodroma-basic-superwide.svg#droidserif') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-300/MuseoSans-300.eot');
  src: url('../fonts/MuseoSans-300/MuseoSans-300.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MuseoSans-300/MuseoSans-300.svg#MuseoSans-300') format('svg'),
       url('../fonts/MuseoSans-300/MuseoSans-300.ttf') format('truetype'),
       url('../fonts/MuseoSans-300/MuseoSans-300.woff') format('woff'),
       url('../fonts/MuseoSans-300/MuseoSans-300.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans-900/MuseoSans-900.eot');
  src: url('../fonts/MuseoSans-900/MuseoSans-900.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MuseoSans-900/MuseoSans-900.svg#MuseoSans-900') format('svg'),
       url('../fonts/MuseoSans-900/MuseoSans-900.ttf') format('truetype'),
       url('../fonts/MuseoSans-900/MuseoSans-900.woff') format('woff'),
       url('../fonts/MuseoSans-900/MuseoSans-900.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}