* {
}

body,
html {

}

html {
  font-size: (100/1280) * 16 * 1vw;
}

body {
  padding-top: 0;
  font-size: 1em;
}
main {
}
a {
  cursor: none;
}
img {
}

.page-wrapper{
   cursor: none;
   &--projects{
    justify-content: center;
   }
   &--vertical{
    position: fixed;
  }
}