* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  outline: none;
  -webkit-overflow-scrolling: touch;
}

body,
html {
  width: 100%;
  height: 100%;
  position: relative;
  overscroll-behavior-y: none;
  /* overflow: hidden; */
}

html {
  font-size: (100/375) * 16 * 1vw;
}

body {
  &.non-scroll{
    overflow: hidden;
  }
}
.advise-orientation{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  background-image: url('../img/rotate.svg');
  background-size: em(200) auto;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}
body.landscape{
  .advise-orientation{
    opacity: 1;
    visibility: visible;
  }
}
main {
}
a {
  text-decoration: none;
  color: c('black');
}
li{
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.page-wrapper{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  &--projects{
    display: flex;
    align-items: center;
  }
  &--vertical{
    height: auto;
  }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
