.random{
    position: relative;
    padding: em(100) em(30);
    &__featured-container{
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        &--left{
            justify-content: flex-start;
        }
        &--right{
            justify-content: flex-end;
        }
        &--last{
            justify-content: flex-start;
            margin-bottom: em(35);
            .random__featured-image{
                margin-right: em(30);
                &:first-child{
                    margin-top: em(100);
                }
                &:nth-child(2){
                    /* margin: em(-100) 0 0; */
                }
                &:last-child{
                    margin-left: auto;
                    margin-top: em(200);
                }
            }
        }
    }
    &__featured-image{
        opacity: 0;
        transition: opacity .3s ease-in;
        img{
            height: 72.25vh;
            width: auto;
            max-width: auto;
            margin-bottom: 0;
        }
        &--1{
            order: -1;
            margin: em(100) em(35) em(-100) 0;
        }
        &--2{
            margin-top: em(80);
            margin-bottom: em(35);
        }
        &--active{
            opacity: 1;
        }
        &--first-load{
            opacity: 1;
            &:first-child{
                transform: translateY(100vh);
            }
            &:last-child{
                transform: translateY(-100vh);
            }
        }
        &--exception{
            margin-bottom: 35px;
        }
    }
    &__featured-content{
        display: flex;
        justify-content: flex-end;
        margin-top: em(60);
        margin-bottom: 0;
        padding: 0 em(200);
    }
    &__featured-column{
        &--right{
            width: em(250);
        }
        &--left{
            text-align: right;
            order: -1;
            padding-top: em(45);
            margin-right: em(25);
            max-width: em(220);
        }
    }
    &.is-randomed{
        .random__featured-container{
            &--left{
                justify-content: flex-end;
            }
            &--right{
                justify-content: flex-start;
            }
            &--last{
                justify-content: flex-end;
            }
        }
        .random__featured-image{
            &--1{
                order: inherit;
                margin: em(100) 0 em(-100) em(35);
            }
        }
        .random__featured-content{
            justify-content: flex-start;
            padding: 0 0 0 em(200);
        }
    }
}
.scroll-icon{
    display: block;
    position: fixed;
    bottom: em(20);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: em(30);
    height: em(50);
    opacity: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/scroll.gif');
    background-size: 100%;
}