.random{
  padding: em(100) em(30);
  transform-style: preserve-3d;
  will-change: transform;
  &__featured-image img{
      margin-bottom: em(35);
  }
  &__featured-content{
      margin-bottom: em(35);
  }
  &__featured-column{
      h1{
        @include font('Museo', 'bold');
        font-size: em(14);
        margin-bottom: em(35);
      }
      p{
        @include font('Museo');
        font-size: em(12);
        line-height: 1.3em;
        margin-bottom: em(20);
      }
      &--right{

      }
      &--left{

      }
  }
}
.scroll-icon{
  display: none;
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
