.header{
    &--down{
        opacity: 1;
        transform: translateY(0);
        transition: none;
        .header__menu{
            opacity: 0;
            transform: translateY(-25px);
            transition: transform .2s ease-in, opacity .2s ease-in;
        }
    }
    &__logo{
        top: em(27);
        left: em(27);
        width: em(82, 10);
        height: em(8, 10);
        z-index: inherit;
        transform: translateY(em(-45));
        opacity: 0;
    }
    &__menu{
        position: absolute;
        transform: translateY(0);
        width: auto;
        top: em(27);
        right: em(35);
        align-items: baseline;
        justify-content: flex-end;
        flex-direction: row;
        transition: transform .6s ease, opacity .6s ease;
        .menu{
            padding: 0;
            ul{
                li{
                    text-align: right;
                    padding: 0;
                    cursor: none;
                    opacity: inherit;
                    transform: translateX(0);
                    font-size: em(9);
                    line-height: 1.2em;
                    &:first-child{
                        display: none;
                    }
                    &:last-child{
                        display: inherit;
                    }
                    &.current-menu-item{
                        a{
                            @include font('Velodrama');
                        }
                    }
                    a{
                        transform: color .3s ease-in;
                        &:hover{
                            color: c('grey');
                        }
                    }
                    &.active{
                        a{
                            @include font('Velodrama');
                        }
                    }
                }
            }
            &--hidden{
                opacity: 0;
            }
        }
        .contact{
            padding-left: em(15);
            position: absolute;
            opacity: 0;
            visibility: hidden;
            transform: translateX(em(35));
            transition: all ease-in-out .1s;
            cursor: none;
            ul{
                li{
                    font-size: em(9);
                    line-height: 1.2em;
                    padding-bottom: 0;
                    a{
                        &:hover{
                            color: c('grey');
                        }
                    }
                }
            }
            &.is-visible{
                opacity: 1;
                visibility: visible;
                transform: translateX(0);
                transition: all ease-in-out .4s;
            }
        }
    }
}