.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  &--down{
    opacity: 0;
    transform: translateY(-25px);
    transition: transform .2s ease-in, opacity .2s ease-in;
  }
  &__logo{
    position: absolute;
    left: em(27);
    top: 50px;
    z-index: 1;
    width: 147px;
    height: 13px;
    background-image: url('../img/Logo-MR.svg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px;
    transform: translateY(em(-45));
    opacity: 0;
  }
  &__menu{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: c('white');
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: em(65);
    transform: translate(100%);
    transition: transform .3s ease-in-out;
    .menu{
      padding-top: em(10);
      padding-bottom: em(60);
      transform: translateY(em(-45));
      opacity: 0;
      ul{
        li{
          font-size: 30px;
          padding-bottom: 15px;
          opacity: 0;
          transform: translateX(60px);
          &:last-child{
            display: none;
          }
          a{
            @include font('Velodrama', 'light');
            color: c('black');
            text-transform: uppercase;
          }
        }
      }
    }
    &.is-open{
      transform: translateX(0);
    }
    .contact{
      ul{
        li{
          padding-bottom: 15px;
          @include font('Velodrama', 'light');
          font-size: 15px;
          opacity: 0;
          transform: translateX(60px);
          a{
            @include font('Velodrama', 'light');
            color: c('black');
            text-transform: uppercase;
          }
        }
      }
    }
    .credits{
      position: absolute;
      bottom: em(20);
      right: 0;
      left: 0;
      margin: auto;
      text-align: center;
      a{
        font-size: 11px;
        text-transform: uppercase;
        @include font('Velodrama', 'light');
        opacity: .5;
      }
    }
  }
  &__icon-menu-mobile{
    position: absolute;
    top: 47px;
    right: 0;
  }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
