.loader{
  width: 100vw;
  height: 100%;
  position: fixed;
  top:0;
  left:0;
  background-color: c('white');
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in 1.8s;
  background-image: url('../img/loader.gif');
  background-size: em(100);
  background-position: center;
  background-repeat: no-repeat;
  &.loading{
    opacity: 1;
    visibility: visible;
  }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
