.grid{
    position: relative;
    width: 1844px;
    height: 3483px;
    display: grid;
    grid-template-columns: repeat(5, 340px);
    grid-template-rows: 100%;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    padding: 24px;
    &__column{
      &--top{
        transform: translateY(-100%);
      }
      &--bottom{
        transform: translateY(100%);
      }
    }
    &__item{
      position: relative;
      width: 340px;
      height: 510px;
      margin-bottom: 24px;
      img{
        position: absolute;
        width:100%;
        height: 100%;
        top:0;
        left:0
      }
    }
    &__item-mask{
      position: absolute;
      background-color: c('white');
      pointer-events: none;
      &--laterals{
        top: 0;
        width: 35px;
        // width: 40px;
        height: 100%;
      }
      &--verticals{
          width: 100%;
          height: 35px;
          // height: 40px;
      }
      &--left{
          left: -1px;
      }
      &--right{
          right: -1px;
      }
      &--top{
          top: -1px;
      }
      &--bottom{
          bottom: -1px;
      }
    }
  }
  .outter-grid{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2038px;
    height: 4774.5px;
    top: calc((100vh - 4774.5px)/2);
    left: calc((100vw - 2038px)/2);
  }