.grid{
  position: absolute;
  width: 912px;
  height: 2360px; 
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 244px);
  grid-template-rows: 100%;
  grid-column-gap: 45px;
  padding: 45px;
  touch-action: none;
  user-select: none;
  &__column{
    position: relative;
    will-change: transform;
    &--top{
      align-self: end;
      transform: translateY(-100%);
    }
    &--bottom{
      align-self: start;
      transform: translateY(100%);
    }
  }
  &__item{
    width:244px;
    height: 380px;
    margin-bottom: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:last-child{
      margin-bottom: 0;
    }
    img{
      width: 100%;
      height: 100%;
      aspect-ratio: attr(width) / attr(height);
    }
  }
}
.outter-grid{
  position: absolute;
  width: 1449px;
  height: 4378px; 
  top: calc((100vh - 4378px)/2);
  left: calc((100vw - 1449px)/2);
}


@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
