.grid{
    width: 2024px;
    height: 3834px;
    grid-template-columns: repeat(5, 376px);
    &__item{
        width:376px;
        height: 564px;
    }
}
.outter-grid{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2212px;
    height: 5251px;
    top: calc((100vh - 5251px)/2);
    left: calc((100vw - 2212px)/2);
}