.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  &__credits{
      display: inherit;
      position: absolute;
      right: em(32);
      bottom: em(32);
      a{
        @include font('Velodrama', 'light');
        font-size: em(9);
        transform: color .3s ease-in;
        &:hover{
          color: c('grey');
        }
      }
  }
  &--bottom{
    display: none;
  }
}