.footer{
 &__credits{
   display: none;
   transform: translateY(em(45));
   opacity: 0;
 }
 &__copyright{
   display: none;
 }
 &--bottom{
   .footer__copyright{
    display: block;
    position: relative;
    bottom: em(30);
    text-align: center;
    width: 100%;
    @include font('Velodrama', 'light');
    font-size: em(9);
    color: #a0a0a0;
   }
 }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
