.cursor {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    pointer-events: none;
    opacity: 0;
    z-index: 9;
    &--circle{
        &__inner{
        fill: none;
        stroke: c('black');
        stroke-width: 1px;
        transform-origin: center;
        }
    }
    &--pointer{
        &__point {
            fill:c('black');
            &--works{
                opacity: 0;
            }
            &--vertical{
                opacity: 1;
            }
        }
        &__lateral{
            stroke: c('black');
        }
        &.is-enter{
           g{
            opacity: 0;
           }
           .cursor--pointer__point--works{
               opacity: 1;
           }  
        }
    }
}
.page-wrapper--vertical{
    .cursor, .cursor--pointer__point--works{
        opacity: 1;
    }
}