* {
}

.paragraph {
}
.link {
}
span {
}

strong {
}

h1,
h2,
h3,
h4,
h5,
h6 {
}
.title {
  &--white {
  }
}
.subtitle {
}
.text {
  p {}
  h2 {}
  a {}
  ul {}
  ol {}
  li {}
  blockquote {
    p {
      &:before {}
      &:after {}
    }
  }
  img {
    margin: 0;
    max-width: 100%;
  }
}
.text-center {
}

.text-left {
}

.text-right {
}
