* {
  @include font('Velodrama');
}

.paragraph {
}
.link {
}
span {
}

strong {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.title {
  @include font('Velodrama', 'bold');
  font-size: em(30);
  color: c('black');
}
.subtitle {}
.text {
  p {}
  h2 {}
  a {}
  ul {}
  ol {}
  li {}
  blockquote {
    padding: 0 em(30);
    margin-top: em(-30);
    margin-bottom: em(30);
    p {
      margin-bottom: 0;
      font-size: em(20);
      letter-spacing: em(-0.3, 20);
      line-height: 1.45;
      &:before {
        content: '“';
        margin-right: em(-4, 20);
      }
      &:after {
        content: '”';
        margin-left: em(-4, 20);
      }
    }
  }
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.regular, .basic{
  @include font('Velodrama');
  span{
    font-weight: 700;
  }
}
@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
