.columns{
    position: relative;
    padding: em(140) em(25) 0;
    display: grid;
    justify-content: center;
    grid-template-columns: em(300) em(300) em(300);
    grid-template-rows: 100%;
    grid-gap: em(20);
    .column{
        &__text{
            padding: em(35) em(10) 0;
            a:hover{
                color: c('grey');
            }
        }
        &--center{
            justify-content: space-between;
            display: flex;
            flex-direction: column;
            .column__image{
                padding-bottom: em(50);
                opacity: 0;
                transition: opacity .6s ease-in;
                &.active{
                    opacity: 1;
                }
            }
        }
        &--last{
            justify-content: flex-end;
            display: flex;
            flex-direction: column;
            padding-bottom: em(95);
            opacity: 0;
            transition: opacity .6s ease-in;
            &.active{
                opacity: 1;
            }
        }
        &__top{
            transform: translateY(100vh);
        }
    }
}