.columns{
  padding: em(140) em(25);
  .column{
    &__text{
      padding: em(25) em(10);
      h1{
        font-size: em(12);
        text-transform: uppercase;
        @include font('Museo', bold);
        margin-bottom: em(35);
      }
      p{
        font-size: em(12);
        line-height: em(16, 12);
        @include font('Museo');
      }
      strong{
        @include font('Museo', bold);
      }
      a{
        color: c('purple');
        @include font('Museo', bold);
      }
    }
    &__image{
  
    }
    &__top{
      transform: translateY(50vh);
    }
  }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
